*.pyc
.ipynb_checkpoints
*.swp
*.swo
*TEMP*
.idea
gp-abc-acq-code/
Notes/
Old/
gather_bact_data.py
run_bact_tests.py
experiment_results/**/**/*1r*.p*
experiment_results/**/**/*2r*.p*
experiment_results/**/**/*10i*.p*
experiment_results/**/**/*1i*.p*
experiment_results/**/**/*20i*.p*
mylib/show_results.py
tmp_files/
